@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #181719;
  height: 100vh;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, minmax(10px, 1fr));
  row-gap: 3.7rem;
  grid-auto-rows: min-content;
  place-content: center;
  padding: 1.5rem;
}
.grid-container .main-container {
  grid-column: 1/11;
}

.header {
  height: 50px;
  grid-column: 1/11;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #181719;
  overflow: hidden;
  transition: left 0.5s ease-in-out;
}
.header .nav .close-menu {
  width: 3rem;
  fill: #f2f2f2;
  position: absolute;
  top: -10px;
  right: 2rem;
}
.header .nav ul {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.header .nav ul li {
  display: inline;
  height: 3rem;
  border-bottom: 2px solid transparent;
  margin: 0 auto 2.4rem;
  text-align: center;
}
.header .nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.header .nav ul li a:active {
  font-weight: 600;
}
.header .nav ul li:hover {
  border-color: #ffffff;
  font-weight: 700;
}
.header .nav ul li:active {
  border-color: #ffffff;
  font-weight: 700;
}
.header .header__button {
  padding: 0.9rem;
  border: 1px solid #ffffff;
  grid-column: 1/4;
  font-family: "Crimson Pro", serif;
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.header .header__menu-buttons {
  grid-column: 10/11;
}
.header .header__menu-buttons svg {
  width: 3rem;
  fill: #f2f2f2;
}

.description h1 {
  font-size: 3.6rem;
  font-family: "Lora", serif;
  color: #ffffff;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}
.description p {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  max-width: 250px;
  margin-bottom: 25px;
}
.description .readMore {
  grid-column: 1/5;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 3.5rem;
  font-weight: 700;
}
.description .readMore span {
  margin-left: 1.5rem;
}

.interior-view {
  position: relative;
}
.interior-view picture {
  width: 90%;
}
.interior-view picture img {
  width: 100%;
}
.interior-view .card {
  position: absolute;
  right: 1.3rem;
  bottom: -33%;
  width: 300px;
  height: 138px;
  background-color: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  padding: 1rem 1.9rem;
}
.interior-view .card .designer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.interior-view .card .designer .image {
  width: 15%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.4rem;
}
.interior-view .card .designer .image img {
  width: 36.59px;
  height: 36.59px;
  border-radius: 50%;
}
.interior-view .card .designer .designer__info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.interior-view .card .designer .designer__info .name {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.interior-view .card .designer .designer__info .role {
  color: #828282;
  font-weight: 200;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.interior-view .card .card-atributtion {
  width: 70%;
}
.interior-view .card .card-atributtion p {
  margin-top: 0.8rem;
  font-family: "Lora", serif;
  font-size: 1.8rem;
  text-align: left;
}
.interior-view .card .card-atributtion p .atributtion-name {
  text-transform: capitalize;
}

.space {
  height: 120px;
  grid-column: 1/11;
}

footer {
  grid-column: 1/11;
  color: #828282;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
footer p a {
  color: #828282;
  font-weight: 700;
}

@media (max-width: 320px) {
  .interior-view .card {
    width: 230px;
    height: 130px;
    right: 1rem;
    bottom: -88px;
  }
  .interior-view .card .card-atributtion p {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .description p {
    max-width: 300px;
  }

  .interior-view .interior-image {
    display: block;
    width: 98%;
    margin: auto;
  }

  .interior-view .card {
    bottom: -48px;
    right: 2rem;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    padding: 4.2rem;
    max-width: 1440px;
    margin: auto;
  }
  .grid-container .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .grid-container .main-container .description {
    width: 40%;
  }
  .grid-container .main-container .description h1 {
    font-size: 4.8rem;
  }
  .grid-container .main-container .interior-view {
    width: 60%;
  }

  .header {
    justify-content: space-between;
  }
  .header .nav {
    position: static;
    grid-column: 6/11;
    width: 50%;
    height: 100%;
    align-self: flex-end;
  }
  .header .nav .close-menu {
    display: none;
  }
  .header .nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
  .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__menu-buttons {
    display: none;
  }
  .header .burguer-menu {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
