@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $black;
  height: 100vh;
}
.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, minmax(10px, 1fr));
  row-gap: 3.7rem;
  grid-auto-rows: min-content;
  place-content: center;
  padding: 1.5rem;
}
