$black: #181719;
$gray: #f2f2f2;
$gray-2: #828282;
$white: #ffffff;
$font-monserrat: "Montserrat", sans-serif;
$font-lora: "Lora", serif;
$font-crimsonPro: "Crimson Pro", serif;
$title-size: 3.6rem;
$text-size: 1.4rem;
